<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fightlandlord.sys_back.dao.RegisterMapper">
  <resultMap id="BaseResultMap" type="com.fightlandlord.sys_back.model.Register">
    <id column="register_id" jdbcType="VARCHAR" property="registerId" />
    <result column="patient_id" jdbcType="VARCHAR" property="patientId" />
    <result column="register_choice" jdbcType="VARCHAR" property="registerChoice" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="is_subscribe" jdbcType="INTEGER" property="isSubscribe" />
    <result column="dossier_table_id" jdbcType="VARCHAR" property="dossierTableId" />
    <result column="check_table_id" jdbcType="VARCHAR" property="checkTableId" />
    <result column="medicine_table_id" jdbcType="VARCHAR" property="medicineTableId" />
    <result column="withdraw_medicine_table_id" jdbcType="VARCHAR" property="withdrawMedicineTableId" />
    <result column="register_state" jdbcType="INTEGER" property="registerState" />
  </resultMap>
  <sql id="Base_Column_List">
    register_id, patient_id, register_choice, register_time, is_subscribe, dossier_table_id, 
    check_table_id, medicine_table_id, withdraw_medicine_table_id, register_state
  </sql>
  <!--  医生叫号-->
  <select id="getAPatient" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from register
    where register_choice = #{doctorId} and register_state = 1 and register_time >= NOW() order by register_time asc limit 1
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from register
    where register_id = #{registerId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from register
    where register_id = #{registerId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fightlandlord.sys_back.model.Register">
    insert into register (register_id, patient_id, register_choice, 
      register_time, is_subscribe, dossier_table_id, 
      check_table_id, medicine_table_id, withdraw_medicine_table_id, 
      register_state)
    values (#{registerId,jdbcType=VARCHAR}, #{patientId,jdbcType=VARCHAR}, #{registerChoice,jdbcType=VARCHAR}, 
      #{registerTime,jdbcType=TIMESTAMP}, #{isSubscribe,jdbcType=INTEGER}, #{dossierTableId,jdbcType=VARCHAR}, 
      #{checkTableId,jdbcType=VARCHAR}, #{medicineTableId,jdbcType=VARCHAR}, #{withdrawMedicineTableId,jdbcType=VARCHAR}, 
      #{registerState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fightlandlord.sys_back.model.Register">
    insert into register
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="registerId != null">
        register_id,
      </if>
      <if test="patientId != null">
        patient_id,
      </if>
      <if test="registerChoice != null">
        register_choice,
      </if>
      <if test="registerTime != null">
        register_time,
      </if>
      <if test="isSubscribe != null">
        is_subscribe,
      </if>
      <if test="dossierTableId != null">
        dossier_table_id,
      </if>
      <if test="checkTableId != null">
        check_table_id,
      </if>
      <if test="medicineTableId != null">
        medicine_table_id,
      </if>
      <if test="withdrawMedicineTableId != null">
        withdraw_medicine_table_id,
      </if>
      <if test="registerState != null">
        register_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="registerId != null">
        #{registerId,jdbcType=VARCHAR},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="registerChoice != null">
        #{registerChoice,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null">
        #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isSubscribe != null">
        #{isSubscribe,jdbcType=INTEGER},
      </if>
      <if test="dossierTableId != null">
        #{dossierTableId,jdbcType=VARCHAR},
      </if>
      <if test="checkTableId != null">
        #{checkTableId,jdbcType=VARCHAR},
      </if>
      <if test="medicineTableId != null">
        #{medicineTableId,jdbcType=VARCHAR},
      </if>
      <if test="withdrawMedicineTableId != null">
        #{withdrawMedicineTableId,jdbcType=VARCHAR},
      </if>
      <if test="registerState != null">
        #{registerState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fightlandlord.sys_back.model.Register">
    update register
    <set>
      <if test="patientId != null">
        patient_id = #{patientId,jdbcType=VARCHAR},
      </if>
      <if test="registerChoice != null">
        register_choice = #{registerChoice,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null">
        register_time = #{registerTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isSubscribe != null">
        is_subscribe = #{isSubscribe,jdbcType=INTEGER},
      </if>
      <if test="dossierTableId != null">
        dossier_table_id = #{dossierTableId,jdbcType=VARCHAR},
      </if>
      <if test="checkTableId != null">
        check_table_id = #{checkTableId,jdbcType=VARCHAR},
      </if>
      <if test="medicineTableId != null">
        medicine_table_id = #{medicineTableId,jdbcType=VARCHAR},
      </if>
      <if test="withdrawMedicineTableId != null">
        withdraw_medicine_table_id = #{withdrawMedicineTableId,jdbcType=VARCHAR},
      </if>
      <if test="registerState != null">
        register_state = #{registerState,jdbcType=INTEGER},
      </if>
    </set>
    where register_id = #{registerId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fightlandlord.sys_back.model.Register">
    update register
    set patient_id = #{patientId,jdbcType=VARCHAR},
      register_choice = #{registerChoice,jdbcType=VARCHAR},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      is_subscribe = #{isSubscribe,jdbcType=INTEGER},
      dossier_table_id = #{dossierTableId,jdbcType=VARCHAR},
      check_table_id = #{checkTableId,jdbcType=VARCHAR},
      medicine_table_id = #{medicineTableId,jdbcType=VARCHAR},
      withdraw_medicine_table_id = #{withdrawMedicineTableId,jdbcType=VARCHAR},
      register_state = #{registerState,jdbcType=INTEGER}
    where register_id = #{registerId,jdbcType=VARCHAR}
  </update>
</mapper>